body {
    display: flex;
    align-items: center;
    justify-content: center;
}
#mform input {
    width: 500px;
    height: 60px;
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    border: 3px, solid, green
}

#mform button {
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    background-color: #51aa5a;
    color: black;
    border: 3px, solid, rgb(36, 64, 33);
}

#mform button:hover {
    background-color: #92d499;
}

#mform button:active {
    background-color: #3e8e41;
  transform: translateY(2px) scale(0.98);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2)
}



.c_body {
    background-color: seagreen;
    color: aquamarine;
    margin: 10px
}
.c_placeholder {
    background-color: #d0fdde;
}




.resposta {
    align-items: center;
    color: white;
}

.resposta p {
    max-width: 50ch;
}

.title {
    font-weight: bold;
    padding: 5px;
    background-color: #51aa5a;
    margin: 0px;
}

.resp {
    margin: 0px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.campo div {
    margin: 10px;
}