* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../imagens/wood-pattern.png');
    background-color: #e6c79c;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden; /* impede rolagem horizontal da página toda */
}

header {
    background-color: #9c6b30;
    color: #fffaf0;
    padding: 20px;
    text-align: center;
    font-family: 'Rye', cursive;
    font-size: 28px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

nav {
    background-color: #cfa66b;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    gap: 30px;
}

nav a {
text-decoration: none;
color: #4a2e1c;
font-weight: bold;
}

nav a:hover {
text-decoration: underline;
}

.btn-voltar {
    width: 100px;
    height: 30px;
    background-color: #d18b47;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 8px;
    border-style: none;
}

.btn-voltar:hover {
    background-color: #e49b58;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 18px;
}
.menu a {
    text-decoration: none;
    color: white;
}

.voltar {
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.voltar p {
    margin: 0;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

/* ESTILIZAÇÃO DO CONTEUDO CENTRAL COM O PRODUTO */
.conteudo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    position: relative;
    width: 80%;
    margin-top: 10px;
    background-color: #fff5c2;
    border: 3px solid #c29e6c;
    border-radius: 10px;
    padding: 30px;
    gap: 40px;
    display: flex;
    justify-content: space-between;
}

.imagem-produto img {
    width: 430px;
    border-radius: 8px;
}

.info-produto {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-produto h1 {
    margin: 0;
    font-size: 28px;
}

.info-produto p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.btn-comprar,
.btn-baiano {
    width: 200px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

.btn-comprar {
    background-color: #175ab3;
    color: white;
}

.btn-baiano {
    background-color: #bd1515;
    color: #ffffff;
}

.baiano-IA {
    margin-top: 20px;
    padding: 15px;
    background-color: #c58b55;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.baiano-IA .titulo-baiano-IA{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.baiano-IA .p-baiano-IA{
    color: white;
}

/* Estilização da parte do preço em kg */

.container-preco {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.input-quantidade {
    width: 280px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btn-calcular-preco {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.preco-kg {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-left: 20px;
}

footer {
    background-color: #9c6b30;
    color: #fffaf0;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    }