<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Minha casa</title>
    </head>

    <body>
        <h1>Banheiro</h1>
        <ul>
            <li><a href="/banheiro/sensors">Listar sensores</a></li>
            <li><a href="/banheiro/actuators">Listar atuadores</a></li>
        </ul>
        <p>Voltar para <a href="/">página inicial</a>!</p>
    </body>

</html>