<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atuadores | Banheiro</title>
</head>
<body>
    <h2>Atuadores | Banheiro</h2>
    
    <ul>
        {% for atuadorBanheiro in atuadoresBanheiro %}
        <li>{{ atuadorBanheiro }}</li>
        {% endfor %}
    </ul>
    <p>Voltar para <a href="/banheiro">banheiro</a>!</p>
    <p>Voltar para <a href="/">página inicial</a>!</p>
</body>
</html>