body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    font-family: "Montserrat", sans-serif;
}

/* CSS DO LOGIN */

.metade-imagem {
    width: 60%;
    background-image: url('assets/imagens/metade-login.png');
    background-size: cover;
    background-position: top right;
}

.botoes-ajuda {
    display: flex;
    gap: 15px;
    margin-top: 5px;
    justify-content: center;
}

.login {
    width: 40%;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fundo {
    background-color: #1d7d3d;
    position: absolute;
    top: 0%;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 40px;
    padding-bottom: 80px;
    border-radius: 0 0 30px 30px;
}

.label-login {
    font-weight: bold;
    margin: 7px 0;
    color: black;
    font-size: 16;
}

.label-senha {
    font-weight: bold;
    margin: 0px 0;
    margin-top: 20px;
    margin-bottom: 7px;
    color: black;
    font-size: 16;
}

.form-login {
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 22%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16;
    font-weight: bolder;
}

.titulologin {
    color: black;
    font-size: 15.6;
    font-weight: bolder;
}

.usuario {
    margin: 0px 0; 
    padding: 13px; 
    border: 1px solid #cccccc; 
    border-radius: 8px; 
    width: 100%; 
    max-width: 400px; 
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    transition: border-color 0.3s;
}

.usuario:focus {
    border-color: #29944d; 
    outline: none; 
}

.senha {
    margin: 0px 0; 
    padding: 13px; 
    border: 1px solid #cccccc; 
    border-radius: 8px; 
    width: 100%; 
    max-width: 400px; 
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    transition: border-color 0.3s;
}

.senha:focus {
    border-color: #29944d; 
    outline: none; 
}

.btn-entrar{
    margin: 25px 0; 
    margin-bottom: 0px;
    padding: 13px; 
    border: none; 
    border-radius: 25px;
    background-color: #29944d; 
    color: white; 
    cursor: pointer; 
    width: 100%; 
    max-width: 400px; 
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 18;
    transition: background-color 0.2s ease;
}

.btn-entrar:hover {
    background-color: #1d7d3d;
}

.btn-esqSenha{
    margin: 0px 0; 
    padding: 13px; 
    border: none; 
    border-radius: 20px; 
    background-color: #ffffff; 
    color: #565656; 
    cursor: pointer;
    width: auto; 
    max-width: 170px; 
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 16;
    transition: background-color 0.3s ease;
}

.btn-ajuda{
    margin: 0px 0;
    padding: 13px; 
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    color: #565656;
    cursor: pointer;
    width: auto;
    max-width: 120px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 16;
    transition: background-color 0.3s ease;
}

.btn-esqSenha:hover,
.btn-ajuda:hover {
    background-color: #f0f0f0;
}

/* CSS DO MODO RECUPERAÇÃO */

.modal-recuperacao {
    display: none; /* Oculta o modal inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo preto com opacidade */
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 40px 30px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 180px;
    height: 50px;
    background-image: url('https://i.ibb.co/r6JKjVK/logo-Ciencia-Lab.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.label-tituloRecSenha {
    font-weight: bolder;
    font-size: 22px;
    color: #29944d;
    margin-bottom: 10px;
    margin-top: 20px;
}

.label-pRecSenha {
    font-weight: bolder;
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
    line-height: 1.6;
} 

.input-field {
    width: 100%;
    padding: 13px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #29944d;
    outline: none;
}

.btn-envCodigo {
    width: 100%;
    margin-top: 5px;
    padding: 13px;
    background-color: #29944d;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-voltarSenha {
    margin: 0px 0; 
    margin-top: 15px;
    padding: 13px; 
    border: none; 
    border-radius: 20px; 
    background-color: #ffffff; 
    color: #565656; 
    cursor: pointer;
    width: auto; 
    max-width: 170px; 
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 16;
    transition: background-color 0.3s ease;
}

.btn-envCodigo:hover {
    background-color: #1d7d3d;
}

.btn-voltarSenha:hover {
    background-color: #f0f0f0;
}

/* CSS DO MODO ENVIAR CÓDIGO */

.modal-codigo {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo preto com opacidade */
    z-index: -1;
}

.container1 {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 40px 30px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo1 {
    width: 180px;
    height: 50px;
    background-image: url('https://i.ibb.co/r6JKjVK/logo-Ciencia-Lab.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.label-tituloRecSenha1 {
    font-weight: bolder;
    font-size: 22px;
    color: #29944d;
    margin-bottom: 10px;
    margin-top: 20px;
}

.label-pEnvCodigo {
    font-weight: bolder;
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
    line-height: 1.6;
}

.inputCodigo {
    width: 100%;
    padding: 13px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 14px;
    transition: border-color 0.3s;
    text-align: center;
    font-size: 24;
}

.inputCodigo:focus {
    border-color: #29944d;
    outline: none;
}

.btn-contCodigo {
    width: 100%;
    margin-top: 5px;
    padding: 13px;
    background-color: #29944d;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-voltarCodigo {
    margin: 0px 0; 
    margin-top: 15px;
    padding: 13px; 
    border: none; 
    border-radius: 20px; 
    background-color: #ffffff; 
    color: #565656; 
    cursor: pointer;
    width: auto; 
    max-width: 170px; 
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 16;
    transition: background-color 0.3s ease;
}

.btn-contCodigo:hover {
    background-color: #1d7d3d;
}

.btn-voltarCodigo:hover {
    background-color: #f0f0f0;
}

/* CSS DO MODO REDEFINIR SENHA */

.redefinir-senha {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo preto com opacidade */
    z-index: -1;
}

.container2 {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 40px 30px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo2 {
    width: 180px;
    height: 50px;
    background-image: url('https://i.ibb.co/r6JKjVK/logo-Ciencia-Lab.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.label-titulo-red-senha {
    font-weight: bolder;
    font-size: 22px;
    color: #29944d;
    margin-bottom: 10px;
    margin-top: 20px;
}

.label-p-red-senha {
    font-weight: bolder;
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
    line-height: 1.6;
}

.label-nova-senha {
    font-weight: bold;
    margin: 7px 0;
    color: black;
    font-size: 16;
    text-align: left;
}

.label-conf-nova-senha {
    font-weight: bold;
    margin: 7px 0;
    margin-top: 22px;
    color: black;
    font-size: 16;
    text-align: left;
}

.input-nova-senha {
    margin: 0px 0; 
    padding: 13px; 
    border: 1px solid #cccccc; 
    border-radius: 8px; 
    width: 100%; 
    max-width: 400px; 
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    transition: border-color 0.3s;
}

.input-confirmar-senha {
    margin: 0px 0; 
    padding: 13px; 
    border: 1px solid #cccccc; 
    border-radius: 8px; 
    width: 100%; 
    max-width: 400px; 
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    transition: border-color 0.3s;
}

.inputCodigo,
.input-confirmar-senha:focus {
    border-color: #29944d;
    outline: none;
}

.btn-conf-senha {
    width: 100%;
    margin-top: 5px;
    padding: 13px;
    background-color: #29944d;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 25px;
}

.btn-voltarRed {
    margin: 0px 0; 
    margin-top: 15px;
    padding: 13px; 
    border: none; 
    border-radius: 20px; 
    background-color: #ffffff; 
    color: #565656; 
    cursor: pointer;
    width: auto; 
    max-width: 170px; 
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 16;
    transition: background-color 0.3s ease;
}

.btn-conf-senha:hover {
    background-color: #1d7d3d;
}

.btn-voltarRed:hover {
    background-color: #f0f0f0;
}

/* CSS DO MODO AJUDA */

.modo-ajuda {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo preto com opacidade */
    z-index: -1;
}

.container3 {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 30px 30px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo3 {
    width: 180px;
    height: 50px;
    background-image: url('https://i.ibb.co/r6JKjVK/logo-Ciencia-Lab.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.label-titulo-ajuda {
    font-weight: bolder;
    font-size: 22px;
    color: #29944d;
    margin-bottom: 10px;
    margin-top: 20px;
}

.btn-x-ajuda {
    margin: 5px 0; 
    padding: 13px; 
    border: none; 
    border-radius: 20px; 
    background-color: #ffffff; 
    color: #565656; 
    cursor: pointer;
    width: 100%; 
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 14;
    transition: background-color 0.3s ease;
    justify-content: flex-start;
    text-align: left;
}

.btn-x-ajuda:hover {
    background-color: #f0f0f0;
}

.orientacao {
    background-color: #ffffff;
    border-radius: 25px;
    margin-top: 28px;
    font-size: 14;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: justify;
}

.btn-voltar-modo-ajuda {
    margin: 0px 0; 
    margin-top: 15px;
    padding: 13px; 
    border: none; 
    border-radius: 20px; 
    background-color: #ffffff; 
    color: #565656; 
    cursor: pointer;
    width: auto; 
    max-width: 170px; 
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 16;
    transition: background-color 0.3s ease;
}

.btn-voltar-modo-ajuda:hover {
    background-color: #f0f0f0;
}