body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    font-family: "Montserrat", sans-serif;
}

.metade-imagem {
    width: 60%;
    background-image: url('https://i.ibb.co/RhBGzmD/little-boy-participating-online-class.jpg');
    background-size: cover;
    background-position: top right;
}

.botoes-ajuda {
    display: flex;
    gap: 15px;
    margin-top: 5px;
    justify-content: center;
}

.login {
    width: 40%;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fundo {
    background-color: #1d7d3d;
    position: absolute;
    top: 0%;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 40px;
    padding-bottom: 80px;
    border-radius: 0 0 30px 30px;
}

.label-login {
    font-weight: bold;
    margin: 7px 0;
    color: black;
    font-size: 16;
}

.label-senha {
    font-weight: bold;
    margin: 0px 0;
    margin-top: 20px;
    margin-bottom: 7px;
    color: black;
    font-size: 16;
}

.form-login {
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 22%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16;
    font-weight: bolder;
}

.titulologin {
    color: black;
    font-size: 15.6;
    font-weight: bolder;
}

input {
    margin: 0px 0; 
    padding: 13px; 
    border: 1px solid #cccccc; 
    border-radius: 8px; 
    width: 100%; 
    max-width: 400px; 
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #29944d; 
    outline: none; 
}

.btn-entrar{
    margin: 25px 0; 
    margin-bottom: 0px;
    padding: 13px; 
    border: none; 
    border-radius: 25px;
    background-color: #29944d; 
    color: white; 
    cursor: pointer; 
    width: 100%; 
    max-width: 400px; 
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 18;
    transition: background-color 0.2s ease;
}

.btn-entrar:hover {
    background-color: #1d7d3d;
}

.btn-esqSenha{
    margin: 0px 0; 
    padding: 13px; 
    border: none; 
    border-radius: 20px; 
    background-color: #ffffff; 
    color: #565656; 
    cursor: pointer;
    width: auto; 
    max-width: 170px; 
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 16;
    transition: background-color 0.3s ease;
}

.btn-ajuda{
    margin: 0px 0;
    padding: 13px; 
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    color: #565656;
    cursor: pointer;
    width: auto;
    max-width: 120px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 16;
    transition: background-color 0.3s ease;
}

.btn-esqSenha:hover,
.btn-ajuda:hover {
    background-color: #f0f0f0;
}

p{
    align-items: justify;
}

