.modal-recuperacao {
    display: none; /* Oculta o modal inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo preto com opacidade */
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 40px 30px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 180px; /* Ajuste a largura da logo */
    height: 50px; /* Ajuste a altura da logo */
    background-image: url('https://i.ibb.co/r6JKjVK/logo-Ciencia-Lab.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-weight: bolder;
    font-size: 22px;
    color: #29944d;
    margin-bottom: 10px;
    margin-top: 20px;
}

p {
    font-weight: bolder;
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
    line-height: 1.6;
}

.input-field {
    width: 100%;
    padding: 13px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #29944d;
    outline: none;
}

.btn-envCodigo {
    width: 100%;
    margin-top: 5px;
    padding: 13px;
    background-color: #29944d;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-voltarSenha {
    margin: 0px 0; 
    margin-top: 15px;
    padding: 13px; 
    border: none; 
    border-radius: 20px; 
    background-color: #ffffff; 
    color: #565656; 
    cursor: pointer;
    width: auto; 
    max-width: 170px; 
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 16;
    transition: background-color 0.3s ease;
}

.btn-envCodigo:hover {
    background-color: #1d7d3d;
}

.btn-voltarSenha:hover {
    background-color: #f0f0f0;
}