{% extends"base.html" %}
{% block content%}
<div class="vertical-center">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    <form action="http://localhost:8080/add_sensor" method="post">
                        <p>Nome do sensor:</p>
                        <p><input type="text" name="sensor" placeholder="Nome do Sensor" required /></p>
                        <p>Tipo:</p>
                        <p><input type="text" name="tipo" placeholder="Ex: Temperatura" required /></p>
                        <p><input type="submit" value="Cadastrar" /></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


