<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Minha casa</title>
    </head>

    <body>
        {% extends "base1.html" %}
        {% block content %}
        <h1>Sensores</h1>
        <ul>
            {% for sensor, tipo in devices.items() %}
            <li>
                {{ sensor }} - {{ tipo }}
                <a href="/remove_sensor?sensor={{ sensor }}">
                    <button>Remover</button>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endblock %}
    </body>

</html>